/****HEADER****/
.contenantH1Menu{
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  align-items: center;
}
.h1{
  margin-top: 4px;
}
.menu{
  display:flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 15px 0;
}

.menuButton{
  background-color: #A44A3F;
    color: white;
    padding: 4px 8px;
    border-radius: 4px;
    border: 2px solid #A44A3F;
    height: auto;
}
.menuButton:hover {
  background-color: #F6F4D2;
  color: #A44A3F;
}
/* @media (max-width: 898px) {
  .contenantH1Menu {
    position: sticky;
    top: 0;
    z-index: 1100;
  }
} */

/*****collapse****/
.toggleButton{
  background-color: transparent;
  border: 2px solid #CBDFBD;
  color: #A44A3F;
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: background-color 0.2s;
}
.toggleButton>i{
  font-size: 30px;
}
.toggleButton:hover{
  border: 2px solid #F6F4D2;
  color: #F6F4D2;
}
/*****FORM****/
.sectionForm{
  padding-bottom: 20px;
}
/* Form Container */
.formContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    padding-bottom: 20px;
  }
  
  /* Full-width fields */
  .formContainer div {
    flex: 1 1 calc(50% - 20px);
  }
  
  /* Label & Input */
  .formContainer label {
    display: block;
    margin-bottom: 4px;
    font-weight: bold;
    color: var(--foreground);
  }
  
  .formContainer input,
  .formContainer select {
    width: 100%;
    padding: 8px;
    border: 1px solid var(--foreground);
    border-radius: 4px;
    background: #F6F4D2;;
    color: var(--foreground);
  }
  
  /* Mobile responsiveness */
  @media (max-width: 898px) {
    .formContainer {
      /* display: none; */
      flex-direction: column;
    }
  }


  /*****COLONE CONTENU*****/
  .sansCode {
    width: calc(50% - 20px);    
  }
  .column {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }

  .column1{
    flex: 1 1 calc(50% - 10px);
  }
  .column2 {
    flex: 1 1 calc(50% - 10px); /* Deuxième colonne (40% moins la moitié du gap) */
  }

  @media (max-width: 769px) {
.sansCode{
  width: 100%;
}
.column1, .column2{
  flex-basis: 100%;
}
  }

  /****ESPACEMENT CONTENU****/
.sansCode, .column{
    margin-top: 3%;
}

/*séparations*/
.sepEtapes {
  position: relative;
  padding-bottom: 3%;
}

.sepEtapes::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #F6F4D2;
  border-radius: 5px; /* Changez cette valeur pour ajuster l'arrondi */
}

.sepCode {
  position: relative;
  padding-bottom: 3%;
}
.sepCode::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1.5px;
  background: repeating-linear-gradient(
    to right,
    #F6F4D2,
    #F6F4D2 10px,
    transparent 10px,
    transparent 20px
  );
  border-radius: 5px; /* Changez cette valeur pour ajuster l'arrondi */
}
  
/****BOUTON BACK TO TOP****/
.backToTopButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 15px;
  background-color: #A44A3F;
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 20px;
  display: none;
  opacity: 0.8;
  transition: opacity 0.3s ease;
}

.backToTopButton:hover {
  background-color: #F6F4D2;
  color: #A44A3F;
  opacity: 1;
}

.backToTopButton.show {
  display: block; /* Afficher le bouton uniquement lorsque l'utilisateur a fait défiler */
}